@import "./colors.css";
@import "./typography.css";

:root {
  font-family: "Barlow Condensed", sans-serif;
}

* {
  font-weight: normal;
  color: var(--color-background);
  font-size: 16px;
  line-height: normal;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.v-field__outline__start,
.v-field__outline__end {
  border: 0 !important;
}

.v-field__input {
  padding-top: 0 !important;
  color: var(--color-background) !important;
  font-size: 18px !important;
}

.dark .v-field__input {
  padding-top: 0 !important;
  color: var(--color-secondary) !important;
  font-size: 18px !important;
}
