@import "./colors.css";
@import "./typography.css";

:root {
  font-family: "Barlow Condensed", sans-serif;
}

* {
  font-weight: normal;
  color: var(--color-background);
  font-size: 16px;
  line-height: normal;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
