/* =================== Desktop =================== */
/* ------ title ------ */
.title {
  font-weight: bold;
  color: var(--color-background);
  font-size: 86px;
}

.title-2 {
  font-weight: bold;
  color: var(--color-background);
  font-size: 60px;
}

.title-3 {
  font-weight: bold;
  color: var(--color-background);
  font-size: 32px;
}

.title-bold-4 {
  font-weight: bold;
  color: var(--color-background);
  font-size: 20px;
}

.title-medium-4 {
  font-weight: 500;
  color: var(--color-background);
  font-size: 20px;
}

/* ------ body ------ */
.body-medium {
  font-weight: 500;
  color: var(--color-background);
  font-size: 16px;
}

.body-normal {
  font-weight: normal;
  color: var(--color-background);
  font-size: 16px;
}

.body-light {
  font-weight: lighter;
  color: var(--color-background);
  font-size: 16px;
}

/* =================== Mobile =================== */
/* ------ title ------ */
.title-mobile {
  font-weight: bold;
  color: var(--color-background);
  font-size: 30px;
}

.title-mobile-2 {
  font-weight: bold;
  color: var(--color-background);
  font-size: 20px;
}

.title-mobile-bold-3 {
  font-weight: bold;
  color: var(--color-background);
  font-size: 20px;
}

.title-mobile-medium-3 {
  font-weight: 500;
  color: var(--color-background);
  font-size: 20px;
}

/*  ------ body ------ */
.body-mobile-medium {
  font-weight: 500;
  color: var(--color-background);
  font-size: 14px;
}

.body-mobile-normal {
  font-weight: normal;
  color: var(--color-background);
  font-size: 14px;
}

.body-mobile-light {
  font-weight: lighter;
  color: var(--color-background);
  font-size: 14px;
}

/* فقط برای عناصر با کلاس خاص */
/* [data-theme="dark"] .title,
[data-theme="dark"] .body-normal,
[data-theme="dark"] .text-custom {
  color: var(--color-secondary);
} */

[data-theme="dark"] {
  .title,
  .title-2,
  .title-3,
  .title-bold-4,
  .title-medium-4,
  .body-medium,
  .body-normal,
  .body-light {
    color: #d0c !important;
  }
}

[data-theme="dark"] h1,
[data-theme="dark"] h2,
[data-theme="dark"] h3,
[data-theme="dark"] h4,
[data-theme="dark"] h5,
[data-theme="dark"] h6,
[data-theme="dark"] p,
[data-theme="dark"] span {
  color: var(--text-secondary) !important;
}
